body {
    background-image: url("images/jazz-pattern.jpg");
}

p {
    background-color: cadetblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
  }